<address>
  <strong>Ukraine</strong><br>
  26 Kvitki Osnovianenko Street<br>
  Lviv, 79033<br>
  <abbr title="Phone">P:</abbr> +(380) 097 456-7890
</address>

<address>
  <strong>Barber Shop</strong><br>
  <a href="mailto:#">barber_shop@example.com</a>
</address>