<address>
  <strong>Ukraine</strong><br>
  26 Kvitki Osnovianenko Street<br>
  Lviv, 79033<br>
  <abbr title="Phone">P:</abbr> +(380) 097 456-7890
</address>

<address>
  <strong>Eagle Sant</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>